.hire-faceted-search-results > header {
	border-bottom: 1px solid #AAA;
}

.hire-faceted-search-results > header > h3,
.hire-faceted-search-results > header > .hire-faceted-search-results-sort-menu {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.hire-faceted-search-results > header > h3 {
	margin-top: 0;
}

.hire-faceted-search-results > header > h3 {
	width: 60%;
}

.hire-faceted-search-results > header > .hire-faceted-search-results-sort-menu {
	text-align: right;
	width: 40%;
}

.hire-faceted-search-results > ol.hire-faceted-search-result-list {
	list-style: none;
	margin: 0;
	padding: 20px 0 0 0;
}

.hire-faceted-search-results > ol.hire-faceted-search-result-list.numbered {
	list-style: decimal;
	padding-left: 40px;
}


.hire-faceted-search-results > ol.hire-faceted-search-result-list > li {
	cursor: pointer;
	margin-bottom: 20px;
}

.hire-faceted-search-results > ol.hire-faceted-search-result-list > li > label {
	cursor: pointer;
	font-size: 1.1em;
}

.hire-faceted-search-results > ol.hire-faceted-search-result-list > li > ul.metadata {
	color: #888;
	font-size: 0.7em;
}

.hire-faceted-search-results > ol.hire-faceted-search-result-list > li > ul.metadata > li > label {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
	width: 150px;
}

.hire-faceted-search-results svg.loader {
	padding: 60px 0 40px 0;
	width: 100%
}