li.hire-list-facet {
	background-color: white;
	margin-top: 20px;
	padding: 20px 20px 20px 20px;
}

li.hire-list-facet.show-all {
	padding: 20px 0 0 20px;
}

li.hire-list-facet.show-all > header {
	padding-right: 20px;
}

li.hire-list-facet > header > h3,
li.hire-list-facet > header > .hire-faceted-search-filter-menu {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
}

li.hire-list-facet > header > h3 {
	margin: 0 0 12px 0;
	padding: 0;
	width: 60%;
}
li.hire-list-facet > header > .hire-faceted-search-filter-menu {
	width: 40%;
}

li.hire-list-facet > ul {
	max-height: 264px;
}

li.hire-list-facet.show-all > ul {
	/*height: auto;*/
	max-height: 316px; /* 264px (ul.height) + 16px (button.lineHeight) + 16px (button.paddingTop + 20px (.hire-list-facet.paddingBottom) */
	overflow-y: scroll;
}

li.hire-list-facet > button {
	background: none;
	border: none;
	color: #AAA;
	cursor: pointer;
	font-size: 0.8em;
	font-style: italic;
	line-height: 16px;
	margin: 0;
	outline: none;
	padding: 16px 0 0 0;
}

li.hire-list-facet > ul > li.hire-list-facet-list-item {
	cursor: pointer;
	position: relative;
}

li.hire-list-facet > ul > li.no-options-found {
	color: #AAA;
	font-size: 0.8em;
	font-style: italic;
	margin: 20px 0;
}

li.hire-list-facet > ul > li.hire-list-facet-list-item > svg,
li.hire-list-facet > ul > li.hire-list-facet-list-item > label,
li.hire-list-facet > ul > li.hire-list-facet-list-item > span.count {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

li.hire-list-facet > ul > li.hire-list-facet-list-item svg.unchecked,
li.hire-list-facet > ul > li.hire-list-facet-list-item svg.checked {
	height: 12px;
	fill: #AAA;
	margin-top: 5px;
	width: 12px;
}

li.hire-list-facet > ul > li.hire-list-facet-list-item label {
	cursor: pointer;
	overflow-x: hidden;
	padding: 0 4px;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc(100% - 44px);
}

li.hire-list-facet > ul > li.hire-list-facet-list-item > span.count {
	text-align: right;
	width: 32px;
}


/*			li
				position relative
				cursor pointer

				&:hover
					background-color wwYellow

				label
					cursor pointer
					max-width calc(100% - 6px)

				span.count
					position absolute
					right 6px*/