ul.hire-faceted-search-current-query {
	color: #888;
	font-size: 0.7em;
}

ul.hire-faceted-search-current-query > li > label,
ul.hire-faceted-search-current-query > li > span,
ul.hire-faceted-search-current-query > li > ul {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

ul.hire-faceted-search-current-query > li > label {
	width: 150px;
}

ul.hire-faceted-search-current-query > li > ul {
	width: calc(100% - 150px);
}

ul.hire-faceted-search-current-query li.hire-faceted-search-selected-facet-value,
ul.hire-faceted-search-current-query li.search-term span {
	background-color: #DDD;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	margin: 0 4px 4px 0;
	padding: 0 6px;
}

ul.hire-faceted-search-current-query li.hire-faceted-search-selected-facet-value:after,
ul.hire-faceted-search-current-query li.search-term span:after {
	content: "✖";
	padding-left: 8px;
}