.hire-faceted-search-results-sort-menu {
	font-size: 0.8em;
	position: relative;
}

.hire-faceted-search-results-sort-menu > button {
	background-color: #DDD;
	border: 1px solid #888;
	box-sizing: border-box;
	height: 22px;
	outline: none;
	padding: 0 6px;
	vertical-align: top;
}

.hire-faceted-search-results-sort-menu > ul {
	background-color: white;
	cursor: pointer;
	display: none;
	max-width: 180px;
	position: absolute;
	width: 150%;
}

.hire-faceted-search-results-sort-menu > ul.visible {
	display: block;
}