.hire-faceted-search {
	box-sizing: border-box;
	padding: 5%;
	width: 100%;
}

.hire-faceted-search input {
	-moz-appearance: none;
	-webkit-appearance: none;
}

.hire-faceted-search > .hire-faceted-search-facets,
.hire-faceted-search > .hire-faceted-search-results {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.hire-faceted-search > .hire-faceted-search-facets {
	width: 35%;
}

.hire-faceted-search > .hire-faceted-search-facets > button {
	background: white;
	border: none;
	cursor: pointer;
	height: 40px;
	margin-bottom: 20px;
	outline: none;
	padding: 0 20px;
}

.hire-faceted-search > .hire-faceted-search-results {
	padding: 0 0 10% 5%;
	width: 60%;
}