.hire-faceted-search {
	box-sizing: border-box;
	padding: 5%;
	width: 100%;
}

.hire-faceted-search > .hire-faceted-search-facets,
.hire-faceted-search > .hire-faceted-search-results {
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.hire-faceted-search > .hire-faceted-search-facets {
	width: 35%;
}

.hire-faceted-search > .hire-faceted-search-results {
	padding-left: 5%;
	width: 60%;
}